*{margin: 0;padding: 0;font-family: "微软雅黑" !important;}
html{font-size: 20px;}
li{ list-style:none; }
a{ text-decoration:none; }
img{ vertical-align:top; }
input{-webkit-appearance: none;outline: none}
select{-webkit-appearance: none;}
header{
	width: 18.0rem;
	height: 1.25rem;
	overflow: hidden;
	background: #1b1b1b;
}
header img{
	float: left;
	margin-top: 0.1rem;
	margin-left: 0.25rem;
	width: 1.975rem;
}
header h1{
	color: #fff;
	float: left;
	margin-top: 0.5rem;
	margin-left: 0.25rem;
	font-size: 0.45rem;
	font-weight: bold;
}
header p{
	font-size: 0.45rem;
	height: 100%;
	padding-left: 0.875rem;
	color: #fff;
	font-weight: bold;
	float: right;
	margin-right: 0.2rem;
	line-height: 1.25rem;
	background: url(../images/phone.png) no-repeat 0 center;
	background-size: 0.55rem 0.65rem;
	padding-top: 0.125rem
}
.banner{
    overflow: hidden;
}
.banner img{
    display: block;
    width: 18.0rem;
}
.zg-main1{
    height: 26.65rem;
    background: url("../images/main1.jpg") no-repeat center;
    background-size: 18.0rem
}
.zg-main1 h2{
    font-size:0.9rem;
    color: #d42b36;
    text-align: center;
    line-height:1.75rem;
    background: url("../images/m1.png") no-repeat center;
    background-size: 13.95rem
}
.m1-cont{
    overflow: hidden;
    height: 23.625rem;
    margin-top:-0.25rem;
    background: url("../images/m2.png") no-repeat center;
    background-size: 17.5rem;
    position: relative;
}
.m1-cont > b{
    display: block;
    width: 4.6rem;
    height: 1.5rem;
    margin-left:1.05rem;
    margin-top:0.45rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4.6rem;
    font-size:0.7rem;
    line-height:1.9rem;
    text-align: center;
    color: #d52c37;
}
.m1-cont b:first-child{
    margin-top:1.625rem;
}
.m1-cont p{
    font:normal 0.6rem/1.1rem '微软雅黑';
    color: #fff;
    margin-left:1.075rem;
    margin-top:0.1rem;
}
.m1-cont a{
    display: block;
    width: 5.85rem;
    height: 1.6rem;
    background: #fcff24;
    border-radius: 0.8rem;
    font-size:0.7rem;
    font-weight:bold;
    color: #d52c38;
    text-align: center;
    line-height:1.6rem;
    margin: 0.9rem auto 0;
}
.m1-cont img{
    position: absolute;
    right:0.75rem;
    bottom:4.35rem;
    width: 4.7rem;
}
.zg-main2{
    background: url("../images/main2.jpg") no-repeat center top;
    background-size: 18.0rem;
    overflow: hidden;
}
.zg-main2 h2{
    font-size:0.9rem;
    color: #d42b36;
    text-align: center;
    line-height:1.75rem;
    background: url("../images/m8.png") no-repeat center;
    background-size: 15.45rem
}
.zg-main2 > p{
    font-size:0.55rem;
    line-height:0.7rem;
    background: url("../images/m9.png") no-repeat center;
    background-size: 10.4rem;
    text-align: center;
    color: #fff;
    margin-top:0.575rem;
}
.btn-box{
    width: 17.5rem;
    height: 3.05rem;
    margin:1.0rem auto 0;
    background: url("../images/m10.jpg") no-repeat center;
    background-size: 17.5rem;
    overflow: hidden;
}
.btn-box p{
    float: left;
    margin-left:0.45rem;
    margin-top:0.45rem;
    width: 3.75rem;
    height: 1.475rem;
    font-size:0.7rem;
    text-align: center;
    line-height:1.45rem;
    color: #fff;
    font-weight:bold;
}
.btn-box p:first-child{
    margin-left:0.575rem;
}
.btn-box p.on{
    color: #fcff24;
}
.show-box{
    width: 16.875rem;
    overflow: hidden;
    padding-left:0.625rem;
    margin: 0 auto;
    display: none;
}
.show-box li{
    float: left;
    margin-left:0.525rem;
    margin-top:1.05rem;
    width: 7.35rem;
    height: 8.0rem;
    overflow: hidden;
}
.course{
    height: 4.75rem;
    background: #e0242f;
    overflow: hidden;
    text-align: center;
}
.course span{
    display: block;
    font-size:0.65rem;
    line-height:0.65rem;
    color: #fff;
    margin-top:1.2rem;
}
.course b{
    display: block;
    font-size:0.8rem;
    line-height:0.9rem;
    color: #fff;
    margin-top:0.45rem;
}
.course .cb{
    font-size:0.625rem;
}
.price{
    height: 1.45rem;
    background: #000;
    overflow: hidden;
    font-size:0;
}
.price span:nth-child(1){
    float: left;
    font-size:0.35rem;
    color: #fff;
    margin-left:0.6rem;
    font-weight:bold;
    line-height:1.45rem;
    text-decoration: line-through;
}
.price span:nth-child(2){
    float: left;
    font-size:0.55rem;
    color: #fcff24;
    margin-left:0.15rem;
    font-weight:bold;
    line-height:1.45rem;
}
.price b{
    float: left;
    font-size:0.9rem;
    color: #fcff24;
    font-weight:bold;
    line-height:1.45rem;
}
.price span:nth-child(4){
    float: left;
    font-size:0.35rem;
    color: #fcff24;
    font-weight:bold;
    line-height:2.0rem;
}
.buy{
    width: 7.35rem;
    height: 1.8rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:2px solid #af0508;
    border-top:none;
    background: #fff;
}
.buy button{
    float: left;
    margin-left:0.3rem;
    margin-top:0.325rem;
    width: 3.05rem;
    height: 1.05rem;
    border:1px solid #e0242f;
    border-radius: 0.1rem;
    font-size:0.55rem;
    color: #e0242f;
    line-height:1.05rem;
    text-align: center;
    background: #fff;
}
.buy a{
    float: right;
    margin-right:0.3rem;
    margin-top:0.325rem;
    width: 3.05rem;
    height: 1.05rem;
    border:1px solid #e0242f;
    border-radius: 0.1rem;
    font-size:0.55rem;
    color: #fff;
    line-height:1.05rem;
    text-align: center;
    background: #e0242f;
}

.show-box1{
    height: 29.225rem;
    background: url("../images/m11.jpg") no-repeat center;
    background-size: 17.5rem
}
.show-box2{
    height: 38.125rem;
    background: url("../images/m12.jpg") no-repeat center;
    background-size: 17.5rem
}
.show-box2 .course span{
    margin-top:0.95rem;
}
.show-box2 .course em,.show-box4 .course em{
    display: inline-block;
    font-size:0.55rem;
    color: #fff;
    font-weight:bold;
    line-height:0.55rem;
    padding: 0.2rem 0.5rem;
    margin: 0.25rem auto 0;
    background: #c2111c;
    border-radius: 0.125rem;
    font-style: normal;
}
.show-box2 .course b,.show-box4 .course b{
    margin-top:0.225rem;
}
.show-box3{
    height: 47.2rem;
    background: url("../images/m13.jpg") no-repeat center;
    background-size: 17.5rem
}
.show-box3 .course em{
    display: block;
    font-size:0.55rem;
    line-height:0.55rem;
    color: #fff;
    font-weight:bold;
    margin-top:0.4rem;
    font-style: normal;
}
.ts{
    margin-top:1.0rem!important;
}
.show-box4{
    height: 29.225rem;
    background: url("../images/m11.jpg") no-repeat center;
    background-size: 17.5rem
}
.show-box4 .course span{
    margin-top:0.9rem
}
.zg-main3{
    height: 8.2rem;
    background: url("../images/main3.jpg") no-repeat center;
    background-size: 18.0rem;
    overflow: hidden;
    margin-bottom:1.7rem;
}
.zg-main3 p{
    font-size:0;
}
.zg-main3 p span{
    font-size:1.55rem;
    line-height:1.55rem;
    color: #cf2631;
    font-weight:bold;
    display: inline-block;
}
.zg-main3 p:nth-child(1){
    margin-left:3.3rem;
    margin-top:3.85rem;
}
.zg-main3 p:nth-child(1) span{
    font-size:1.15rem;
}
.zg-main3 p:nth-child(1) span:last-child{
    width: 1.25rem;
    height: 1.25rem;
    background: #e0242f;
    border-radius: 50%;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.25rem;
    margin-left: 0.25rem
}
.zg-main3 p:nth-child(2){
    margin-left:2.35rem;
    margin-top:0.45rem;
}
.fix{
    width: 18.0rem;
    display: flex;
    position: fixed;
    bottom: 0;
    height: 1.7rem;
    z-index: 9999

}
.fix a{
    display: block;
    flex:1;
    height: 100%;
    text-align: center;
    line-height: 1.7rem;
    font-size: 0.6rem;
    color: #fff;
    padding-left: 0.5rem;
}
.fix1{
    background: url(../images/fix1.png) no-repeat 15% center #000;
    background-size: 1.15rem 1.125rem
}
.fix2{
    background: url(../images/fix2.png) no-repeat 25% center #e62929;
    background-size: 1.525rem 1.2rem
}
.zixun{
    position: fixed;
    top:45%;
    right:0;
    z-index:999;
}
.zixun a{
    display: block;
}
.zixun a img{
    width: 2.9rem;
}
.zzc{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.7);
    top: 0;
    display: none;
}
.vid{
    position: fixed;
    left:50%;
    margin-left:-8.75rem;
    top:50%;
    margin-top:-4.5rem;
    width:17.5rem;
    display: none;
}
.vid em{
    width: 0.75rem;
    height: 0.75rem;
    display: block;
    float: right;
    background: url(../images/xx.png) no-repeat center;
    background-size:0.75rem ;
    cursor: pointer;
}
.vid video{
    width: 16.25rem;
}